@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Open+Sans:wght@300&display=swap');
.profileContainer{
    /* background-color: blue; */
    margin: 15px;
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* padding-bottom: 10%; */
    height: 100%;
}

.profileColumn{
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center; 
    justify-items: center;
   
}


.profileLeft{
    /* background-color: white; */
    width: 95%;
    height: 50vh;
 
}

.profileMiddle{
    position: relative;
    /* background-color: orange; */
    height: 100px;
    width: 90%;
    height: 50vh;
    align-items: center; 
    justify-items: center;
    
}

.profileRight{
    /* background-color: green; */
    height: 100px;
    width: 90%;
    height: 50vh;
    margin-left: 1%;
}

.profileColumn h2{
    color: black;
    font-size: 30px;
    font-family: 'Open Sans';
    font-weight: bold;
    margin-top: 2%;
    margin-left: 2%;
    justify-content: left;
    align-items: left;
}

.profileColumn p{
    position: relative;
    color: black;
    display: flex;
    font-family: Barlow;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 5%;
    font-size: 18px;
}

.profilePicture{
   width: auto;
   height: 50%;
   margin: 2%;
   margin-left: 15%;
   margin-right: 15%;
   margin-top: 20%;
   background-size: 100%;
   background-image: url('./headshot.png');
   background-repeat: no-repeat;
   /* border: 5px solid lightskyblue;
   border-radius: 50%; */
   object-fit: contain;
   
}

.profileColumn h3{
    position: relative;
    top: 0%;
    font-family: 'Open Sans';
    margin-left: 2%;
    font-weight: bold;
}


@media screen and (max-width: 768px) {

   
    .profilePicture{
        display: none;
        width: 0;
    }
    .profileContainer{
        height: auto;
        width: 100%;
    }
    .profileMiddle{
        width: 0;
    }
    .profileLeft{
        width: 60vw;
        margin-right: 0;
        margin-left:  8%;
        height: auto;
    }
    .profileRight{
        margin-left: 0;
        margin-right: 10%;
        position: relative;
        left: -20%;
        height: auto;
    }
    

}
@media screen and (max-width: 1300px) and (min-width: 768px) {
    .lastSec{
      display: none;
    }
  
  }
